@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome sachin gv  to test the ci cd pipeline creation in jenkins</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Learining and practising the application hosting in the ci cd in the jenkins using github and iis</a>.</p>
</div>
 