@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome sachin for the asp.net mvc project</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <p>Ci CD Pipeline integartion using jenkins and github</p>
</div>
 