@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome sachin gv  to test the ci cd pipeline creation in jenkins</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core with ci cd setup</a>.</p>
</div>
