
 


@{
    <div class="container-profile">
        <h1>
            Welcome sachin gv,<br> 
        </h1>
        <div class="content-profile">
            <div class="sub-content-profile">
                <p><span class="text-color-profile">EIN:615549505</span> </p>
                <p><span class="text-color-profile">Workforce Roll:Software Enigneering professional</span></p>
                <p><span class="text-color-profile">OUC:TDCL</span></p>
            </div>
            <div class="sub-content-profile">
                <p><span class="text-color-profile">Manager:Vijetha</span></p>
                <p><span class="text-color-profile">Manager EIN:123344</span></p>
            </div>

        </div>
    </div>
}
